<div id="modals">
    <div id="create-room" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form class="validate form-horizontal" action="" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">New Room</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-4">Name</label>
                            <div class="col-sm-7">
                                <input class="required name form-control" name="name" type="text" value="" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">Description</label>
                            <div class="col-sm-7">
                                <textarea class="form-control" name="description"></textarea>
                            </div>
                        </div>
                        <p class="response" style="display: none;"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info create" name="submit"><i class="icon-plus"></i> Create Room</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- create room end -->
    <div id="experimental-features" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><i class="icon-beaker"></i> Experimental Features</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="checkbox">
                            <button name="desktop-notifications" class="btn btn-info" style="text-align: left">
                                <span class="enabled">
                                    Desktop Notifications are <strong>enabled</strong>
                                    <br /><small>Use your browser settings to disable them</small>
                                </span>
                                <span class="disabled">Enable Desktop Notifications</span>
                                <span class="blocked">
                                    Desktops Notifications are <strong>blocked</strong>
                                    <br /><small>Please check your browser settings</small>
                                </span>
                            </button>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- experimental end -->
</div>
